@mixin card($width:40rem,$colortext:#fff,$colorbox:black,$colorhoverbox:grey){

        width: $width;
        box-shadow: 0 0 1rem rgba(0,0,0,.5);
        margin: 2rem;
        .card-img{
            width: 100%;
        }
        .card-content{
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
        }
        .card-title{
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            padding: 0.7rem;
        }
        .card-link{
            background-color: $colorbox;
            color: $colortext;
            align-self: flex-end;
            padding: 1rem;
            &:hover,
            &:focus{
                background-color: $colorhoverbox;
                color: $colorbox;
            }
        }
    
}